@font-face {
    font-family: 'montserrat_alternatesXBd';
    src: url('montserratalternates-extrabold-webfont.woff2') format('woff2'),
         url('montserratalternates-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserratregular';
    src: url('montserrat-regular-webfont.woff2') format('woff2'),
         url('montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,body {
    margin:0;
    padding:0;

    
}

body {  
    overflow-x: hidden;
    background-color:#fff;
    color:#000;
}

header,
footer,
section {
    overflow:auto;
}



@media (max-width:600px) {

    header {
    background-color:#000;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100px;
    display:block;

    }
    h1 {
    font-family: 'montserrat_alternatesXBd';
    color:#fff;
    font-size:20px;
    }

    .logo {
    text-align:center;
    
    }

    nav {
    width:100%;
    
    
    }

    nav ul {
    width:100%;
    line-height:2em;
    float:none;
    display: flex;
    padding-left:5px;
   
    }

    nav li {
    list-style-type: none; 
    /*display:inline-block;
    padding:8px;
    margin-top:15px;*/
    flex-grow: 1;
    text-align: center;

    
    }

    li {
    font-family: 'montserratregular';

    }

    li a {
        color:#fff;
    }

    a {
    text-decoration:none;
    
    }

    nav a:hover {
     color:orange;
    }

    .banner {
    height:269px;
    background:linear-gradient(to top,
    rgba(0,0,0, .35) 0%,
    rgba(0,0,0, .25) 100%
    ),
    url('../images/martin.jpg');
    background-position:center;
    background-size:cover;
    text-align:center;
    padding:7em 0; 
    overflow: hidden; 

    }

    .title{
    display:block;
    color:#fff;
    text-align:center;
    margin-top:200px;
    margin-bottom:200px;
    
    }

    .dream {
    font-size:30px;
    font-family: 'montserratregular';
    }

    .image_second{
    margin-top:30px;
    text-align:center;
    }

    .img_1 {
    width:288px;
    height:200px;
    margin:5px;
    }

    .second_article {
    padding-top:6px;

    }

    .paragraph_quotes {
    font-style:italic;
    font-family: 'montserratregular';
    margin-left:10px;
    margin-right:10px;
    line-height:1.5em;
    color:#aaa;

    }

    img {
    width:100%;
    }

    h2 {
    margin-left:10px;
    color:#484848;
    }

    span {
    color:#aaa;
    }

    h3 {
    color:#fff;
    text-align:center;

    }

    footer {
    background-color:#000;
    height:150px;
    clear:both;

    }

    .second_title {
    text-align:center;
    }

    .paragraph_section {
    font-size:15px;
    font-family: 'montserratregular';
    margin-left:10px;
    margin-right:10px;
    line-height:1.5em;
    color:#aaa;

    }

    .paragraph_section_right {
    font-size:15px;
    font-family: 'montserratregular';
    margin-left:10px;
    margin-right:10px;
    line-height:1.5em;
    color:#aaa;

    }

    .second_section {
    background-color:#000;
    padding-bottom:10px;

    }

    .paragraph_copyright {
    color:#fff;
    text-align:center;
    margin-top:60px;
    font-family: 'montserratregular';

    }

    .copyright {
    padding-top:30px; 

    }

    .social_king {
    text-align:center;

    }

    .social_king .fa  {
    font-size:25px;
    margin:4px;
    
    }

}


@media screen and (min-width:600px) {

    header {
    background-color:#000;
    position:fixed;
    top:0;
    width:100%;
    height:130px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    padding:0 1rem;
    }

    h1 {
    font-family: 'montserrat_alternatesXBd';
    color:#fff;

    }

    .logo {
    /*float:left;*/
    margin-left:20px;
    /*margin-bottom:100px;*/
    margin:0;
    
    }

    nav {
        flex:0 1 30%;
    }

    li {
        margin:0 1rem;

    }


    nav {
    /*float:none;*/
    /*margin-right:20px;
    flex:0 1 30%;*/

    }

    /*nav li {
    list-style-type: none; 
    display:inline-block;
    padding:8px;
    margin-top:15px;
    
    
    }*/

    ul {
    list-style-type: none; 
    padding:0;
    display:flex;
    justify-content:space-around;
    align-items:center;
    }

    li {
    font-family: 'montserratregular';

    }

    a {
    text-decoration:none;
    
    }

    li a {
    color:#fff;
    font-size:20px;

    }

    .banner {
    height:450px;
    background:linear-gradient(to top,
    rgba(0,0,0, .35) 0%,
    rgba(0,0,0, .25) 100%
    ),
    url('../images/martin.jpg');
    background-position:center;
    background-size:cover;
    text-align:center;
    overflow: hidden;
    padding:7em 0;  

    }

    .title{
    display:block;
    color:#fff;
    text-align:center;
    margin-top:300px;
    margin-bottom:300px;
    
    }

    .dream {
    font-size:80px;
    font-family: 'montserratregular';
    }

    
    .image_second{
    margin-top:30px;
    justify-content: center;
    display:flex;
    flex-wrap:wrap;
    }

    .img_1 {
    width:200px;
    height:200px;

    }

    .second_article {
    padding-top:6px;

    }

    .section_quotes {
    height:300px;
    }

    .paragraph_quotes {
    font-style:italic;
    font-family: 'montserratregular';
    margin-left:10px;
    margin-right:10px;
    line-height:1.5em;
    color:#aaa;

    }


    img {
    max-width:100%;
    height:auto;
    }

    h2 {
    margin-left:30px;
    color:#484848;
    }

    span {
    color:#aaa;
    }

    h3 {
    color:#fff;
    /*text-align:center;*/


    }

    footer {
    background-color:#000;
    height:150px;
    clear:both;

    }

    .first_section {
    height:500px;
    /*overflow:hidden;*/
    overflow-y:hidden;

    }

    .second_title {
    text-align:center;
    }

    /*.paragraph {
        /*display:flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;

        margin-top:150px;


        
        
    }*/

    .paragraph {
        margin-top:100px;
    }

    .paragraph_section {
    font-size:18px;
    font-family: 'montserratregular';
    margin-right:100px;
    margin-left:100px;

    
    /*display:inline-block;*/
    /*align-items:center;*/
    text-align:justify;
    line-height:1.5em;
    color:#aaa;
    /*margin:auto;*/
    margin-bottom:10px;

    }

    .paragraph_section_right {
    font-size:18px;
    
    font-family: 'montserratregular';
    /*display:inline-block;*/
    /*align-items:center;*/
    text-align:justify;
    line-height:1.5em;
    /*margin:auto;*/
    margin-top:10px;
    margin-right:100px;
    margin-left:100px;

    color:#aaa;


    }

    .second_section {
    background-color:#000;
    /*padding-bottom:10px;*/
    display:block;

    }

    .paragraph_copyright {
    color:#fff;
    text-align:center;
    margin-top:60px;
    font-family: 'montserratregular';

    }

    .copyright {
    padding-top:30px; 

    }

    .social_king {
    text-align:center;

    }

    .social_king .fa  {
    font-size:25px;
    margin:4px;
    
    }

    .caption_1 {
        /*float:left;*/
        /*margin-left:20px;*/
        margin:20px;
        text-align:center;


    }

    .caption_2 {
        /*float:right;*/
        /*margin-left:20px;*/
        margin:20px;
        text-align:center;
    }

    .caption_3 {
        /*float:left;
        margin-left:50px;*/
        margin:20px;
        text-align:center;
    }

    .caption_4 {
        /*float:right;
        margin-right:50px;*/
        margin:20px;
        text-align:center;

    }

    .para_1 {
        width:50%;
        float:right;
        margin-top:10px;
    }

    .para_2 {
        width:40%;
        float:left;
         margin-top:10px;
    }
    
    .para_3 {
        width:50%;
        float:right;
        margin-top:10px;
    }

    .para_4 {
        width:40%;
        float:left;
        margin-top:10px;
    }

    .para_5 {
        width:40%;
        float:right;
         margin-top:10px;
    }

    .para_6 {
        width:40%;
        float:right;
         margin-top:10px;
    }

}

